.button {
  display: inline-block;
  padding: 5px 15px;
  text-align: center;
  border: 1px solid var(--border-color);
  background-color: var(--accent-color);
  color: var(--text-color);
  text-decoration: none;
  border-radius: 5px;
  &:hover {
    text-decoration: underline;
  }
}
