.product-carousel {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    align-items: center;
    gap: 16px;
    .product-carousel__slides {
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: center;
        div {
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}